.coin-slider {
	overflow: hidden; position: relative; -ms-zoom: 1;
}
.coin-slider a {
	border: currentColor; border-image: none; text-decoration: none;
}
.cs-buttons {
	padding: 10px; font-size: 0px; float: left;
}
.cs-buttons a {
	border: 1px solid rgb(184, 196, 207); border-image: none; width: 10px; height: 10px; color: rgb(184, 196, 207); text-indent: -1000px; margin-left: 5px; float: left;
}
.cs-active {
	color: rgb(255, 255, 255); background-color: rgb(184, 196, 207);
}
.cs-title {
	padding: 10px; width: 650px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
.cs-prev {
	padding: 0px 10px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
.cs-next {
	padding: 0px 10px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
#cs-prev-HomePageSilder2 {
	color: rgb(255, 255, 255);
}
#cs-next-HomePageSilder2 {
	color: rgb(255, 255, 255);
}
